.artist-title {
  width: 100%;
  margin-left: 65px;

  img {
    width: 16%;
  }
}

@media screen and (max-width: 768px) {
  .artist-title {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;

    img {
      width: 25%;
    }
  }
}

@media screen and (max-width: 500px) {
  .artist-title {
    width: 100%;
    margin-top: 20px;
    margin-left: 12%;
    display: flex;
    justify-content: left;

    img {
      width: 25%;
    }
  }
}

.artist-left {
  overflow: hidden;
}

.artist-img {
  width: 100%;

  img {
    width: 100%;
  }
}

.artist-left-text {
  text-align: left;
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .artist-left-text {
    text-align: left;
    margin-bottom: 80px;
  }
}

.artist-left-text p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .artist-left-text p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 20px;
  }
}

.artist-right {
}

.artist-info {
  text-align: left;
  font-size: 1.1rem;

  p:nth-child(1) {
    font-weight: 800;
  }

  video {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .artist-info {
    font-size: 1rem;
  }
}

.artist-info-button {
  margin-top: 40px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .artist-info-button {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .artist-info-button {
    margin-top: 20px;
  }
}

