.hero {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.home-left {
  overflow: hidden;
}

.home-img {
  width: 100%;
  display: flex;
  justify-content: right;

  img {
    width: 70%;
  }
}

.home-right {
  text-align: left;
  margin-top: 20px;
}

.home-right p {
  font-size: 1.1rem;
  line-height: 0;
}

@media screen and (max-width: 768px) {
  .home-right p {
    line-height: 1.3rem;
    font-size: 1rem;
  }
}

.home-right-button {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .home-right-button {
    text-align: center;
  }
}
