.how-title {
  width: 100%;
  margin-left: 65px;

  img {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .how-title {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;

    img {
      width: 40%;
    }
  }
}

@media screen and (max-width: 500px) {
  .how-title {
    width: 100%;
    margin-top: 20px;
    margin-left: 12%;
    display: flex;
    justify-content: left;

    img {
      width: 42%;
    }
  }
}

.how-left {
  overflow: hidden;
}

.how-img {
  width: 100%;

  img {
    width: 100%;
  }
}

.how-left-text {
  text-align: left;
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .how-left-text {
    text-align: left;
    margin-bottom: 80px;
  }
}


.how-right {
}

.how-info {
  text-align: left;
  font-size: 1.1rem;

  ul {
    margin: 30px 0px 20px;
    list-style: none;

    li {
      height: 40px;
      font-weight: 200;
    }

    span {
      font-weight: bold;
    }
  }

  video {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .how-info {
    text-align: left;
    font-size: 1rem;
  }
}

.how-info-button {
  margin-top: 50px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .how-info-button {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .how-info-button {
    margin-top:20px;
  }
}
