.labels-title {
  width: 100%;
  margin-left: 65px;

  img {
    width: 16%;
  }
}

@media screen and (max-width: 768px) {
  .labels-title {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;

    img {
      width: 25%;
    }
  }
}

.labels-left {
  overflow: hidden;
}

.labels-img {
  width: 100%;

  img {
    width: 100%;
  }
}

.labels-right {
}

.labels-info {
  text-align: left;
  font-size: 1.1rem;

  span {
    font-weight: 800;
  }

  video {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .labels-info {
    font-size: 1rem;
  }
}

.labels-info-button {
  margin-top: 40px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .labels-info-button {
    text-align: center;
  }
}
