.manifesto-left {
  overflow: hidden;
}

.manifesto-img {
  width: 100%;

  img {
    width: 100%;
  }
}

.manifesto-left-text {
  text-align: left;
  margin-top: 40px;
}

@media screen and (max-width: 900px) {
  .manifesto-left-text {
    text-align: left;
    margin-bottom: 80px;
  }
}

.manifesto-left-text p {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .manifesto-left-text p {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 20px;
  }
}

.manifesto-right {
  text-align: left;
}

.manifesto-right p {
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .manifesto-right p {
    font-size: 1rem;
  }
}

.manifesto-right p:nth-child(2n + 1) {
  font-weight: bold;
  margin-bottom: 10px;
}

.manifesto-right p:nth-child(2n + 2) {
  margin-bottom: 40px;
}

.manifesto-right-button {
  margin-top: 80px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .manifesto-right-button {
    margin-top: 80px;
    text-align: center;
  }
}
