#cartel {
  h1 {
    font-weight: 200;
    width: 100%;
    font-style: italic;    
  }



  .label{
    font-size: 4.1rem;
    line-height: 4.1rem;
    height: 65px;
  }

  .label:nth-child(1){
    letter-spacing: 0.5rem;
  }

  .label:nth-child(3) {
    text-align: justify;
    height: 65px;
  }

  .label:nth-child(3):after {
    content: "";
    width: 100%;
    display: inline-block;
  }

  .label:nth-child(4){
    letter-spacing: 3.8rem;
  }
}
