.page-contents {
  width: 1280px;
  margin: 80px auto;
}

@media screen and (max-width: 1400px) {
  .page-contents {
    width: 1120px;
  }
}

@media screen and (max-width: 1180px) {
  .page-contents {
    width: 900px;
  }
}

@media screen and (max-width: 900px) {
  .page-contents {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .page-contents {
    margin: 0px auto;
  }
}

.page-contents-top {
  margin-bottom: 60px;
}

@media screen and (max-width: 500px) {
  .page-contents-top {
    margin-bottom: 10px;
  }
}

.page-contents-info {
  display: flex;
  flex-wrap: wrap;
}

.page-contents-left-home {
  width: 50%;
  text-align: center;
  padding: 0 4%;
}

@media screen and (max-width: 900px) {
  .page-contents-left-home {
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    border-right: 0px solid rgb(184, 184, 184);

    .home-img {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.page-contents-left {
  width: 50%;
  text-align: center;
  padding: 0 4%;
  border-right: 1px solid rgb(184, 184, 184);
}

@media screen and (max-width: 900px) {
  .page-contents-left {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
    border-right: 0px solid rgb(184, 184, 184);
    border-bottom: 1px solid rgb(184, 184, 184);
  }
}

@media screen and (max-width: 500px) {
  .page-contents-left {
    width: 90%;
    padding: 20px !important;
  }
}

.page-contents-right {
  width: 50%;
  text-align: center;
  padding: 0 0 0 4%;
}

@media screen and (max-width: 900px) {
  .page-contents-right {
    width: 80%;
    margin: 60px auto;
  }
}

@media screen and (max-width: 500px) {
  .page-contents-right {
    width: 85%;
    padding: 0px !important;
  }
}
